@page "/errors/404"

<div class="container" style="text-align: center;  color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
    <p style="font-size: 50px; ">Page not found</p>
    <p>The page you are looking for is under construction.</p>
    <p>Please redirect back to the home page</p>
</div>